certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.12
cycler==0.11.0
distlib==0.3.4
filelock==3.6.0
fonttools==4.32.0
identify==2.4.12
idna==3.3
joblib==1.1.0
kiwisolver==1.4.2
llvmlite==0.38.0
matplotlib==3.5.1
-e git+ssh://git@github.com/velezbeltran/metric-bandits.git@b23993975a85ac37f7e85d4b69bef47330d17a2a#egg=metric_bandits
nodeenv==1.6.0
numba==0.55.0
numpy==1.21.5
packaging==21.3
pandas==1.3.5
Pillow==9.1.0
platformdirs==2.5.1
pre-commit==2.17.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
threadpoolctl==3.1.0
toml==0.10.2
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
typing_extensions==4.1.1
urllib3==1.26.9
virtualenv==20.13.3
